@use '@constants' as c;

.navigation {
  background-color: c.$soft-gray;
  padding: 30px;
  height: 100vh;
}

.navigation__description {
  font-size: 22px;
}

.navigation__button {
  margin: 0.5rem;

  &:hover {
    color: c.$green;
  }
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
